<!DOCTYPE html>
<html>
  <head>
    <title>Pickr</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <%= vite_client_tag %>
    <%- if controller_name != 'sessions' %>
      <%= vite_javascript_tag 'application' %>
    <% end %>
    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% end %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
<div class="container">
    <%= yield %>
</div>  
</body>
</html>
